<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://jakechang.github.io/claw-mem/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>0ms3YU9/ocIh5FvuDiUb6/+bRVe8hw9EEZKP4YtWuvQ=</string>
</dict>
</plist>
